
@{
    ViewBag.Title = "Stock";
}

<h2>Stock Info</h2>

@*TODO look into bootstrap form*@
<form id="stockForm">
    <div class="form-group">
        <label for="stockInput">Input a Ticker</label>
        <input type="text" id="stockInput" name="stockInput" />
    </div>
    <div class="form-group">
        <label for="dayInput">Input Number of Trading Days</label>
        <input type="number" min="1" max="99" id="dayInput" name="dayInput" />
    </div>
    <input type="submit" value="Submit" /><br /><br />
</form>
<div id="error">

</div>
<div id="headerDiv">

</div>

<table class="table table-bordered table-responsive table-hover" id="results">
    <tr id"tableHeaders">
        @*<th>Ticker</th>*@
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
    </tr>
</table>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    //TODO refactor to take in whole array
    function compareData(dayOne, dayTwo) {
        if (dayOne > dayTwo) {
            
            return '<td id="close" class="data higher">' + dayOne + '</td>';
        }
        else {
            return '<td id="close" class="data lower">' + dayOne + '</td>';
        }
        
    }

    function getDataForGivenDays(tempdataArray, numberOfDays) {
        var counter = 0;
        stockdataArray = []
        $.each(tempdataArray, function (index, day) {

            counter++;
            if (counter <= numberOfDays) {
                stockdataArray.push(day);

            }

        });
        return stockdataArray;
    }

    function getDatesForGivenDays(tempdataArray, numberOfDays) {
        var counter = 0;
        stockdateArray = []
        $.each(tempdataArray, function (index, day) {

            counter++;
            if (counter <= numberOfDays) {
                stockdateArray.push(index);
            }
           
        });
        return stockdateArray;
    }


    const key = 'JEZZ18QI4141C78H';

    $("#stockForm").submit(function (e) {

        e.preventDefault();

        var form = $(this);
        var url = form.attr('action');
        var ticker = $("#stockInput").val();
        $('.data').remove();
        $('.error').remove();
        $('.header').remove();
        
        var tradingDays = parseInt($('#dayInput').val(), 10);
        if (Number.isNaN(tradingDays)) {
            var dayError = '<p class="error">Please enter a valid number 1-99</p>';
            $('#error').append(dayError);
        }
        comparedDays = tradingDays + 1;

        
        $.ajax({ 
            type: "GET",
            url: "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=" + ticker + "&apikey=" + key + "",
            dataType: "json",
            success: function (result) {

                if (result["Error Message"] != undefined) {
                    var tickerError = '<p class="error">Invalid ticker, please try again</p>';
                    $('#error').append(tickerError);
                }
                else {
                    var metadata = []
                    var tempdata = []
                    var stockdata = []
                    var dates = []
                    $.each(result, function (index, day) {
                        metadata.push(day);
                    });

                    tempdata = metadata[1]

                    stockdata = getDataForGivenDays(tempdata, comparedDays);

                    dates = getDatesForGivenDays(tempdata, comparedDays);



                    var results = ""

                    ticker = metadata[0]["2. Symbol"].toUpperCase();
                    console.log(metadata[0]);
                    var header = '<h3 class="header">Trading hisory for ticker $' + ticker + ' for last ' + tradingDays + ' trading days</h3>';
                    $('#headerDiv').append(header);

                    for (let i = 0; i < tradingDays; i++) {
                        var openHtml = compareData(stockdata[i]["1. open"], stockdata[i + 1]["1. open"]);
                        var highHtml = compareData(stockdata[i]["2. high"], stockdata[i + 1]["2. high"]);
                        var closingHtml = compareData(stockdata[i]["4. close"], stockdata[i + 1]["4. close"]);
                        var lowHtml = compareData(stockdata[i]["3. low"], stockdata[i + 1]["3. low"]);
                        var volumeHtml = compareData(stockdata[i]["5. volume"], stockdata[i + 1]["5. volume"]);
                        var results = ""
                        results +=
                            '<tr >' +
                            '<td id="date" class="data date">' + dates[i] + '</td>' +
                            openHtml +
                            highHtml +
                            lowHtml +
                            closingHtml +
                            volumeHtml +
                            '</tr>';

                        $('#results').append(results);

                    }



                }
                }

        });

        $("#stockInput").val('');
        $("#dayInput").val('');
    });


</script>
<style>
    .higher{
        background-color: green;
    }
    .lower {
        background-color: red;
    }
    .ticker{
        background-color: lightgoldenrodyellow;
    }
    .date {
        background-color: lightgoldenrodyellow;
    }
    .error{
        color: red;
    }
</style>

